* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  color: #000;
}

body {
  background-color: #e5e5e5;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "header section-1"
    "header section-2";
  color: #444;
  padding-right: 10px;
}
.box {
  color: #fff;
}

header {
  background-color: #3164f4;
  width: 220px;
  height: 100vh;
  grid-area: header;
}

.title {
  color: #fff;
  padding-top: 20px;
  text-align: center;
}

.fas {
  font-size: 10px;
  color: #fff;
}

.search-icon{
  font-size: 1em;
}

nav {
  padding-top: 20px;
  width: 100%;
}

ul {
  list-style: none;
}

li {
  margin-top: 5px;
  padding: 20px 10px 20px 10px;
}

li:hover {
  background: rgba(255, 255, 255, 0.2);
}

a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 200;
  font-size: 1em;
  line-height: 23px;
  letter-spacing: 0.2px;

  padding-left: 5px;
}

.section-1 {
  grid-area: section-1;
  display: flex;
  align-items: center;
  justify-content: right;
}

.user_info {
  padding: 20px 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username {
  color: #000;
  padding-right: 20px;
}

.section-2 {
  grid-area: section-2;
  background-color: #fff;
  margin: 0 20px 0 20px;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}

.main__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.role {
  font-size: 36px;
  font-weight: bolder;
}

.btn {
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.2px;
  padding: 10px;
  border: none;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}

.btn-search {
  border-radius: 7px;
  margin-right: 8px;
}

.btn-primary {
  background-color: #3164f4;
}

.btn-primary:hover {
  background-color: #557ff3;
}

.btn-secondary {
  background-color: rgb(23, 167, 23);
}

.btn-secondary:hover {
  background-color: rgb(78, 197, 78);
}

.btn-danger {
  background-color: rgb(201, 9, 9);
}

.btn-danger:hover {
  background-color: rgb(199, 81, 81);
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.search {
  display: flex;
  align-items: center;
}

.search-bar {
  width: 493px;
  height: 39px;

  background: #f7f8fc;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 7px;
  outline: none;
}

input {
  padding: 0 20px;
}

input::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 3;
}
