* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
}

/* login/register */

.left,
.right {
  display: inline-block;
}

.left {
  float: left;
  background-color: #0062cc;
  width: 65%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.right {
  float: right;
  background-color: white;
  width: 35%;
  position: initial;
  top: 0;
  bottom: 0;
}

/* .login-container {
} */

.main-container {
  padding: 33%;
}

.login-title {
  padding: 19%;
}

.register-title {
  padding: 11%;
}

.login-form {
  padding: 9%;
}

.login-form h3 {
  text-align: center;
  color: rgb(0, 0, 0);
}

h5 {
  text-align: center;
  color: rgb(0, 0, 0);
}

.login-container form {
  padding: 10%;
}

.btnSubmit {
  width: 100%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  text-align: center;
}

.login-form .btnSubmit {
  font-weight: 600;
  color: #fdfdfd;
  background-color: #0062cc;
}

.login-form .ForgetPwd {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-decoration: none;
}

.swal-button--confirm {
  background: #0062cc;
}

/* dashboard */

.container-md {
  border-radius: 1em;
}

.content {
  background-color: #f1f1f1;
}

.dashboard-title {
  padding: 10%;
  text-align: center;
  font-style: italic;
  color: white;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #0062cc;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  text-align: center;
}

.sidebar a.active {
  background-color: #5299fe;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #5299fe;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Gestion de servicios */

.services-btnSubmit {
  font-weight: 600;
  color: #fdfdfd;
  background-color: #0062cc;
  width: 60%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  text-align: center;
}
