{% extends 'base.html' %}

{% block body %}

<div class="sidebar">
	<h4 class="dashboard-title">DASHBOARD</h4>
	{% if role == "Superadministrador" %}
	<a href="/dashboard/role">Gestionar roles</a>
	{% endif %}
	{% if role == "Superadministrador" or role == "Administrador" %}
	<a class="active" href="/dashboard/users">Gestionar empleados</a>
	{% endif %}
	{% if role == "Empleado" %}
	<a href="/dashboard/feedback">Retroalimentación</a>
	{% endif %}
	<a href="/dashboard/profile">Perfil</a>
	<a href="/auth/login">Cerrar sesión</a>
</div>

<div class="container">
	<h2 class="title">Crear empleado</h2>
	<div class="form-container">
		<form class="form" action="/dashboard/users/create/" method="post">
			<h3 class="subtitle">Ingresa los datos personales del empleado.</h3>
			<div class="row">
				<div class="input-form">
					<i class="fas fa-user"></i>
					<input name="fullname" type="text" class="form-control" required placeholder="Nombre completo" />
				</div>
				<div class="input-form">
					<i class="fas fa-phone"></i>
					<input name="phone" type="tel" class="form-control" required placeholder="Teléfono" />
				</div>
			</div>
			<div class="row">
				<div class="input-form">
					<i class="fas fa-map-marker-alt"></i>
					<input name="direction" type="text" class="form-control" required placeholder="Dirección" />
				</div>
			</div>
			<div class="row">
				<div class="input-form">
					<i class="fas fa-envelope"></i>
					<input name="email" type="email" class="form-control" required placeholder="Correo electrónico" />
				</div>
				<div class="input-form">
					<i class="fas fa-lock"></i>
					<input name="password" type="password" class="form-control" required placeholder="Contraseña" />
				</div>
				<div class="input-form">
					<i class="fas fa-lock"></i>
					<input name="confirm" type="password" class="form-control" required placeholder="Confirmar Contraseña" />
				</div>
			</div>
			<h3 class="subtitle">Ingresa la información del contrato del empleado.</h3>
			<div class="row">
				<div class="input-form">
					<i class="fas fa-suitcase"></i>
					<input name="tContrato" type="text" class="form-control" required placeholder="Tipo del contrato" />
				</div>
				<div class="input-form">
					<i class="fas fa-calendar-alt"></i>
					<input name="fIngreso" type="date" class="form-control" required placeholder="Fecha de ingreso" />
				</div>
				<div class="input-form">
					<i class="fas fa-calendar-alt"></i>
					<input name="fTermino" type="date" class="form-control" required placeholder="Fecha de terminación" />
				</div>
			</div>
			<div class="row col">
				<div class="input-form">
					<select class="form-control" name="selectRol" id="">
						<option value="Empleado">Empleado</option>
						<option value="Administrador">Administrador</option>
						<option value="Superadministrador">Superadministrador</option>
					</select>
				</div>
				<div class="input-form">
					<i class="fas fa-dollar-sign"></i>
					<input name="salario" type="number" class="form-control" required placeholder="Salario devengado" />
				</div>
			</div>
			<div class="btns">
				<button type="button" class="btn btn-outline" onclick="window.history.back();">Cancelar</button>
				<button class="btn btn-primary">Crear nuevo empleado</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}