<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/styles.css") }}' />
    <script src='{{ url_for("static", filename="js/scripts.js") }}'></script>
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Equipo 9</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nulla excepturi labore quae quas. Quidem error dolorem est quas, veritatis at illum consequuntur qui expedita incidunt, provident molestiae dolore necessitatibus!</p>
    </div>
</body>
</html>