{% extends "user.html" %}
{% block main_body %}
<div class="row">
  <div class="col-3 pic-profile">
    <img src='{{ url_for("static", filename="img/profile.png") }}' alt="Imágen User">
  </div>
  <div class="col-7"> 
    <div class="row_1 info-profile">
      <h2>Nombre Empleado</h2>
      <div class="name_loc">
        <i class="fas fa-map-marker-alt"></i>
        <p>&nbsp;Caquetá / Colombia</p>
      </div>
    </div>
    <div class="row_2">
      <div class="row">
        <div class="col">
          <h4>Identificación</h4>
          <div class="data">
            <i class="fas fa-address-card"></i>
            <p>&nbsp;1002865438</p>
          </div>
        </div>
        <div class="col">
          <h4>Correo electrónico</h4>
          <div class="data">
            <i class="fas fa-envelope"></i>
            <p>&nbsp;email@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Teléfono celular</h4>
          <div class="data">
            <i class="fas fa-phone"></i>
            <p>&nbsp;3008764563</p>
          </div>
        </div>
        <div class="col">
          <h4>Dirección de residencia</h4>
          <div class="data">
            <i class="fas fa-map-marker-alt"></i>
            <p>&nbsp;Cra 14 #69-50</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Cargo</h4>
          <div class="data">
            <i class="fa fa-briefcase"></i>
            <p>&nbsp;Desarrollador</p>
          </div>
        </div>
        <div class="col">
          <h4>Salario</h4>
          <div class="data">
            <i class="fas fa-dollar-sign"></i>
            <p>&nbsp;2.000.000</p>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
{% endblock %}