{% extends 'base.html' %}

{% block body %}
    <div class="sidebar">
        <h4 class="dashboard-title">DASHBOARD</h4>
        {% if role == "Superadministrador" %}
        <a class="active" href="/dashboard/role">Gestionar roles</a>
        {% endif %}
        <a href="/dashboard/users">Gestionar empleados</a>
        {% if role == "Empleado" %}
        <a href="/dashboard/feedback">Retroalimentación</a>
        {% endif %}
        <a href="/dashboard/profile">Perfil</a>
        <a href="/auth/login">Cerrar sesión</a>
    </div>

    <div class="content">
        <div class="container-xxl">
            <h5 style="text-align: right; padding: 2%;">{{role}}&nbsp;&nbsp;<img style="text-align: right;" src='{{ url_for("static", filename="img/profile-pic.png") }}' alt="Imágen de perfil"></h5>
        </div>
        <div style="background-color: white; padding: 2%;" class="container-md">
            <div class="container-xxl">
                <div class="row">
                    <div class="col" style="text-align: left;"><h1>Roles</h1></div>
                    <div class="col" style="text-align: right;"><button class="services-btnSubmit" type="submit">Crear nuevo rol</button></div>
                </div>
                <br>
                <div class="row" style="padding: 1%;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre del rol</th>
                                <th scope="col">Gestionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Superadministrador</td>
                                <td>&nbsp;&nbsp;&nbsp;<img style="height: 35px; width: 35px;" src='{{ url_for("static", filename="img/delete.png") }}'></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Administrador</td>
                                <td>&nbsp;&nbsp;&nbsp;<img style="height: 35px; width: 35px;" src='{{ url_for("static", filename="img/delete.png") }}'></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Empleado</td>
                                <td>&nbsp;&nbsp;&nbsp;<img style="height: 35px; width: 35px;" src='{{ url_for("static", filename="img/delete.png") }}'></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}